<div class="fields">
  <fieldset class="mt-4">
    <h4>Item</h4>
    <div class="">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Enter Name", class: "form-control" %>

      <%= f.label :price %>
      <%= f.text_field :price, placeholder: "Enter Price", class: "form-control" %>
    </div>
    <%= f.hidden_field :_destroy %>
    <
  <%= link_to_remove_fields "Remove Subject", f %>
  </fieldset>
</div>